* {
  margin: 0;
  padding: 0;
}

body{
	background-color: #191919;
	font-family: "Verdana", sans-serif;
	color: #DFE2DB;
	/* Disable selection */
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

.container {
	position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -15%; /* Changes with height. */
  margin-left: -36%; /* Your width divided by 2. */
}

.header-title {
	font-size: 3.5em;
	color: #FFF056;
}

.answer-wrapper {
	margin: 0 auto;
	width: 150px;
	height: 100px;
	text-align: center;
	margin-top: 50px;
} 

#answer{
	color: #191919;
	background-color: #FFF056;
	font-size: 5rem;
	padding: .1em;
	border-radius: 2px;
	text-shadow: 1px 1px 1px;
	text-transform: uppercase;
}
 
.button-wrapper {
	text-align: center;
}
.main-button {
	color: #FFF056;
	font-size: 3em;
	padding: 15px;
	background-color: transparent;
	border: 5px solid #DFE2DB;
	border-radius: 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}
 
.main-button:hover{
	color: #191919;
	background-color: #DFE2DB;
	transition: 0.5s;
}

/*@media (min-width: 300px) {
	.container {
    position: absolute;
    height: 100%;
    width: 100%;
	}
}*/